<h1>Listing contactpeople</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tel</th>
      <th>Fax</th>
      <th>Mail</th>
      <th>Customer</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactpeople.each do |contactperson| %>
      <tr>
        <td><%= contactperson.name %></td>
        <td><%= contactperson.tel %></td>
        <td><%= contactperson.fax %></td>
        <td><%= contactperson.mail %></td>
        <td><%= contactperson.customer_id %></td>
        <td><%= contactperson.order_id %></td>
        <td><%= link_to 'Show', contactperson %></td>
        <td><%= link_to 'Edit', edit_contactperson_path(contactperson) %></td>
        <td><%= link_to 'Destroy', contactperson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contactperson', new_contactperson_path %>
