<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contactperson.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @contactperson.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @contactperson.fax %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @contactperson.mail %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @contactperson.customer_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @contactperson.order_id %>
</p>

<%= link_to 'Edit', edit_contactperson_path(@contactperson) %> |
<%= link_to 'Back', contactpeople_path %>
