<h1>Listing end_documentations</h1>

<table>
  <thead>
    <tr>
      <th>Copies</th>
      <th>Cd</th>
      <th>Created by</th>
      <th>Printed at</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @end_documentations.each do |end_documentation| %>
      <tr>
        <td><%= end_documentation.copies %></td>
        <td><%= end_documentation.cd %></td>
        <td><%= end_documentation.created_by %></td>
        <td><%= end_documentation.printed_at %></td>
        <td><%= end_documentation.language %></td>
        <td><%= link_to 'Show', end_documentation %></td>
        <td><%= link_to 'Edit', edit_end_documentation_path(end_documentation) %></td>
        <td><%= link_to 'Destroy', end_documentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New End documentation', new_end_documentation_path %>
