<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @w_number.number %>
</p>

<p>
  <strong>Darwing number:</strong>
  <%= @w_number.darwing_number %>
</p>

<p>
  <strong>Year:</strong>
  <%= @w_number.year %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @w_number.standard %>
</p>

<p>
  <strong>Tag number:</strong>
  <%= @w_number.tag_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @w_number.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @w_number.order_id %>
</p>

<%= link_to 'Edit', edit_w_number_path(@w_number) %> |
<%= link_to 'Back', w_numbers_path %>
<p><%= link_to "Printable (PDF)", w_number_path(@w_number, :format => 'pdf') %></p>
