<p id="notice"><%= notice %></p>

<p>
  <strong>Apl:</strong>
  <%= @order.apl %>
</p>

<p>
  <strong>Ext:</strong>
  <%= @order.ext %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Contactperson:</strong>
  <%= @order.contactperson_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<%= link_to 'New Product for this Customer', new_w_number_path(:order_id => @order.id) %>

<p> <br/> <br/> </p>

<%= form_tag new_end_documentation_path do %>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Number</th>
      <th>Darwing number</th>
      <th>Year</th>
      <th>Standard</th>
      <th>Tag number</th>
      <th>Name</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @w_numbers.each do |w_number| %>
      <tr>
        <td><%= check_box_tag "w_number_ids[]", w_number.id %></td>
        <td><%= w_number.number %></td>
        <td><%= w_number.darwing_number %></td>
        <td><%= w_number.year %></td>
        <td><%= w_number.standard %></td>
        <td><%= w_number.tag_number %></td>
        <td><%= w_number.name %></td>
        <td><%= w_number.order_id %></td>
        <td><%= link_to 'Show', w_number %></td>
        <td><%= link_to 'Edit', edit_w_number_path(w_number) %></td>
        <td><%= link_to 'Destroy', w_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
         <td> <%= submit_tag("Search") %></td>
  </tbody>
<% end %>
